<div class="img_category">
  <img src="./assets/products/banner_category.png" width="100%" style="margin: 0;">
</div>

<section>
  <div class="main_category">
      <div class="list_category">
          <!-- <h3>Danh Mục Sản Phẩm</h3> -->
          <ul>
              <li>Sticker Player</li>
              <hr class="hr1">
              <li>Sticker Động Vật</li>
              <hr class="hr1">
              <li>Sticker Phi Hành Gia</li>
              <hr class="hr1">
              <li>Sticker Vui Nhộn</li>
              <hr class="hr1">
              <li>Sticker Hoạt Hình</li>
          </ul>
      </div>
      <div class="container2" id="container">
          <div class="box" *ngFor="let pr of data; let i = index">
              <a [href]="'/detail/' + pr.id"><img [src]="'../../../assets/products/' + pr.img" [alt]="pr.name"></a>
              <h3 id="name">{{ pr.name }}</h3> <br>
              <span id="price">{{ pr.price }} đ</span><br>
              <div class="wrapper">
                  <button id="addcart"><a href="cart.html"><i class="far fa-shopping-basket"></i>THÊM VÀO GIỎ</a></button>
              </div>
          </div>
      </div>
  </div>
</section>

<hr>
