<section id="pro_detail">
    <div *ngIf='pr'>
        <div class="product-detail" >
            <div class="img-pro">
                <div>
                    <div>
                        <img src="./assets/products/{{ pr.img }}" alt="" id="img">
                    </div>
                    <div>
                        <img src="./assets/products/{{ pr.img1 }}" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="./assets/products/{{ pr.img2 }}" alt="">
                    </div>
                    <div>
                        <img src="./assets/products/{{ pr.img3 }}" alt="">
                    </div>
                </div>
            </div>
            <div class="info-product">
                <h1 id="name">{{ pr.name }}"</h1>
                <hr>
                <span id="price">{{ pr.price }} đ</span>
                <hr>
                <i>Số Lượng : </i><input type="number" min="1" max="10" id="quantity" value="1"><br>
                <button class=""><a href="cart.html"><b>THÊM VÀO GIỎ</b></a></button><br>
                <h2>Thông Tin Sản Phẩm</h2>
                <p>
                    <ul>
                        <li>{{ pr.description }}</li>

                    </ul>
            </div>    
        </div>
    </div>
</section>
<section>
            <h1>SẢN PHẨM QUAN TÂM</h1>
            <div class="container" id="container">
                <div class="box">
                    <a href="product-detail.html"><img src="./assets/products/sp1.webp" alt=""></a>
                    <h3 id="name">BẤT NGỜ CHƯA BÀ GIÀ</h3> <br>
                    <span id="price">19,000 đ</span><br>
                    <div class="wrapper">
                        <button id="addcart"><i class="far fa-shopping-basket"></i>THÊM VÀO GIỎ</button>
                    </div>
                </div>
                <div class="box">
                    <a href="product-detail.html"><img src="./assets/products/sp1.webp" alt=""></a>
                    <h3 id="name">BẤT NGỜ CHƯA BÀ GIÀ</h3> <br>
                    <span id="price">19,000 đ</span><br>
                    <div class="wrapper">
                        <button id="addcart"><i class="far fa-shopping-basket"></i>THÊM VÀO GIỎ</button>
                    </div>
                </div>
                <div class="box">
                    <a href="product-detail.html"><img src="./assets/products/sp1.webp" alt=""></a>
                    <h3 id="name">BẤT NGỜ CHƯA BÀ GIÀ</h3> <br>
                    <span id="price">19,000 đ</span><br>
                    <div class="wrapper">
                        <button id="addcart"><i class="far fa-shopping-basket"></i>THÊM VÀO GIỎ</button>
                    </div>
                </div>
                <div class="box">
                    <a href="product-detail.html"><img src="./assets/products/sp1.webp" alt=""></a>
                    <h3 id="name">BẤT NGỜ CHƯA BÀ GIÀ</h3> <br>
                    <span id="price">19,000 đ</span><br>
                    <div class="wrapper">
                        <button id="addcart"><i class="far fa-shopping-basket"></i>THÊM VÀO GIỎ</button>
                    </div>
                </div>
            </div>
</section>       
<hr>